<!-- Footer -->
<footer class="grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="small-12 medium-6 large-6 xxlarge-shrink cell show-for-xxlarge">
    <div class="grid-y height-100 align-justify">
      <div class="shrink cell">
      <ul class="menu">
<!--       <li><a href="/about/">©</a></li> -->
<!--
      <li><a href="/terms/">Terms</a></li>
      <li><a href="/privacy/">Privacy</a></li>
-->
      </ul>
      </div>
    </div>
  </div>

  <div class="small-12 medium-12 large-x xxlarge-3 cell">

  </div>

</footer>
<!-- End Footer -->
