.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: bottom;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-circle {
  font-size: 2rem;
}

.icon-add {
  font-size: 2rem;
}

.icon-logo {
  width: 3.6435546875em;
}

.icon-logo {
  font-size: 8rem;
}

.icon-client-logo {
  width: 7.1376953125em;
}

.icon-client-logo {
  font-size: 2rem;
}

.icon-logo-tagline {
  width: 4.6015625em;
}

.icon-logo-tagline {
  font-size: 10rem;
}